ANIMATEAV_BUNDLE_IDENTIFIER = com.avalsys.animateav
PRODUCT_BUNDLE_IDENTIFIER = $(ANIMATEAV_BUNDLE_IDENTIFIER)
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 9
ANIMATEAV_CONFIG_ENVIRONMENT = prod
ANIMATEAV_MOCK_NO_SPEND_FINAL_RENDER = NO
AVALSYS_APPLE_DEVELOPMENT_TEAM = $(inherited)
ACCOUNTAV_PUBLISHABLE_KEY = $(inherited)
ACCOUNTAV_KEYCHAIN_SERVICE = $(inherited)
ACCOUNTAV_KEYCHAIN_ACCESS_GROUP = 935PM55U6R.com.avalsys.animateav
ANIMATEAV_REVENUECAT_PUBLIC_API_KEY = $(inherited)
ANIMATEAV_REVENUECAT_OFFERING_ID = $(inherited)
ANIMATEAV_REVENUECAT_MONTHLY_PACKAGE_ID = $(inherited)
ANIMATEAV_CONVEX_URL = $(inherited)
ACCOUNTAV_API_BASE_URL = $(inherited)
ANIMATEAV_API_BASE_URL = $(inherited)
SUPPORTAV_BASE_URL = $(inherited)
SUPPORT_EMAIL_TO = $(inherited)
ANIMATEAV_PRIVACY_URL = $(inherited)
ANIMATEAV_TERMS_URL = $(inherited)
ACCOUNTAV_DELETE_ACCOUNT_URL = $(inherited)
ANIMATEAV_OPEN_SOURCE_URL = $(inherited)
ANIMATEAV_IOS_SENTRY_DSN = $(inherited)

#include? "Local.xcconfig"
